{% extends "default.html" %}
{% block title %}{{titulo}}{% endblock %}

{% block content %}
   <h1>{{titulo}}</h1>
   <table class="table">
      <thead class="thead-dark">
        <tr>
          <th scope="col">Id</th>
          <th scope="col">Categoría</th>
          <th scope="col">Controles</th>
        </tr>
      </thead>
      <tbody>
        {% for categoria in lista_categorias %}
            <tr>
                <th scope="row">{{categoria[0]}}</th>
                <td>{{categoria[1]}}</td>
                <td>
                  <button type="button" class="btn btn-info">Editar</button>
                  <button type="button" class="btn btn-danger">Borrar</button>
                </td>
            </tr>
         {% endfor %}
      </tbody>
    </table>
    

{% endblock %}

